  <% include ../partials/header.ejs %>

  <div class="container">
      <form action="/clients" method="POST">
          <div class="border form-divide-outer">
              <div class="form-header">
                  <h3 class="text-center">Add New Client</h3>
              </div>

              <div class="border form-divide-inner">
                  <h5><strong>Organisation Details</strong></h5>
                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <label for="name">Name</label>
                          <input type="text" name="client[name]" id="name" class="form-control">
                      </div>
                  </div>

                  <div class="form-group">
                      <label for="address">Address</label>
                      <input type="text" name="client[address]" id="address" class="form-control">
                  </div>
                  <div class="form-row">
                      <div class="form-group col-md-4">
                          <label for="phone">Phone No.</label>
                          <input type="text" name="client[phone]" id="phone" class="form-control">
                      </div>
                      <div class="form-group col-md-4">
                          <label for="altPhone">Alternative Phone No.</label>
                          <input type="text" name="client[altPhone]" id="altPhone" class="form-control">
                      </div>
                      <div class="form-group col-md-4">
                          <label for="email">Email</label>
                          <input type="email" name="client[email]" id="email" class="form-control">
                      </div>
                  </div>
              </div>

              <div class="border form-divide-inner">
                  <h5><strong>Contact Person Details</strong> </h5>

                  <div class="form-row">
                      <div class="form-group col-md-2">
                          <label for="inputCity">Title</label>
                          <select id="contactTitle" name="client[contactTitle]" id="contactTitle" class="form-control">
                              <option selected>Choose...</option>
                              <option value="Doctor">Doctor</option>
                              <option value="Mr">Mr</option>
                              <option value="Mrs">Mrs</option>
                              <option value="Miss">Miss</option>
                              <option value="Pastor">Pastor</option>
                              <option value="Reverend">Reverend</option>
                              <option value="Proffessor">Professor</option>
                          </select>
                      </div>
                      <div class="form-group col-md-3">
                          <label for="contactName">Name</label>
                          <input type="text" name="client[contactName]" id="contactName" class="form-control">
                      </div>
                      <div class="form-group col-md-3">
                          <label for="contactSurname">Surname</label>
                          <input type="text" name="client[contactSurname]" id="contactSurname" class="form-control">
                      </div>
                      <div class="form-group col-md-4">
                          <label for="contactPhone">Phone No.</label>
                          <input type="text" name="client[contactPhone]" id="contactPhone" class="form-control">
                      </div>
                      <div class="form-group col-md-4">
                          <label for="contactAltPhone">Alt Phone No.</label>
                          <input type="text" name="client[contactAltPhone]" id="contactAltPhone" class="form-control">
                      </div>
                      <div class="form-group col-md-4">
                          <label for="contactEmail">Email</label>
                          <input type="email" name="client[contactEmail]" id="contactEmail" class="form-control">
                      </div>
                  </div>
              </div>
              <div class="border form-divide-inner">
                  <h5><strong>Market Details</strong> </h5>

                  <div class="form-row">
                      <div class="form-group col-md-4">
                          <label for="region">Region Name</label>
                          <select id="region" name="client[region]" id="region" class="form-control">
                              <option selected>Choose...</option>
                              <option value="Bulawayo">Bulawayo Metro</option>
                              <option value="Beitbridge">Beitbridge</option>
                              <option value="Masvingo">Masvingo</option>
                              <option value="Midlands">Midlands</option>
                              <option value="Vic Falls">Vic Falls</option>
                          </select>
                      </div>
                      <div class="form-group col-md-4">
                          <label for="category">Market Category</label>
                          <select id="category" name="client[category]" id="category" class="form-control">
                              <option selected>Choose...</option>
                              <option value="Pharmacy">Pharmacy</option>
                              <option value="Clinic">Clinic</option>
                              <option value="Medical Centre">Medical Centre</option>
                              <option value="Surgery">Surgery</option>
                              <option value="Hospital">Hospital</option>
                              <option value="Doctor">Doctor</option>
                          </select>
                      </div>



                      <div class="form-group col-md-12">
                          <label for="specialNotes">Special Notes</label>
                          <textarea class="form-control" name="client[specialNotes]" id="specialNotes" rows="3"></textarea>
                      </div>
                  </div>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>


  </div>




  <% include ../partials/footer.ejs %>