  <% include ../partials/header.ejs %>


  <!-- <h4>All The Clients</h4>


  <% clients.forEach(function(client){ %>
  <div>
    <%= client.name %>
  </div>
  <% }); %> -->




  <% include ../partials/footer.ejs %>