  <% include ../partials/header.ejs %>

  <div class="container">
      <form action="/visits" method="POST">
          <div class="border form-divide-outer">
              <div class="form-header">
                  <h3 class="text-center">Add New Visit: Such And Such </h3>
              </div>



              <div class="border form-divide-inner">
                  <h5><strong>Contact Person Details</strong> </h5>

                  <div class="form-row">
                      <div class="form-group col-md-2">
                          <label for="contactTitle">Title</label>
                          <select id="contactTitle" name="visit[contactTitle]" id="contactTitle" class="form-control">
                              <option selected>Choose...</option>
                              <option value="Doctor">Doctor</option>
                              <option value="Mr">Mr</option>
                              <option value="Mrs">Mrs</option>
                              <option value="Miss">Miss</option>
                              <option value="Pastor">Pastor</option>
                              <option value="Reverend">Reverend</option>
                              <option value="Proffessor">Professor</option>
                          </select>
                      </div>
                      <div class="form-group col-md-3">
                          <label for="contactName">Name</label>
                          <input type="text" name="visit[contactName]" id="contactName" class="form-control">
                      </div>
                      <div class="form-group col-md-3">
                          <label for="contactSurname">Surname</label>
                          <input type="text" name="visit[contactSurname]" id="contactSurname" class="form-control">
                      </div>
                      <div class="form-group col-md-4">
                          <label for="contactPhone">Phone No.</label>
                          <input type="text" name="visit[contactPhone]" id="contactPhone" class="form-control">
                      </div>
                      <div class="form-group col-md-4">
                          <label for="contactAltPhone">Alt Phone No.</label>
                          <input type="text" name="visit[contactAltPhone]" id="contactAltPhone" class="form-control">
                      </div>
                      <div class="form-group col-md-4">
                          <label for="contactEmail">Email</label>
                          <input type="email" name="visit[contactEmail]" id="contactEmail" class="form-control">
                      </div>
                  </div>
              </div>
              <div class="border form-divide-inner">
                  <h5><strong>Visit Details</strong> </h5>

                  <div class="form-row">
                      <div class="form-group col-md-3">
                          <label for="visitDate">Visit Date</label>
                          <input type="date" name="visit[visitDate]" id="visitDate" class="form-control">
                      </div>
                      <div class="form-group col-md-12">
                          <label for="keyInterests">Key Interests</label>
                          <textarea class="form-control" name="visit[keyInterests]" id="keyInterests" rows="3"></textarea>
                      </div>
                      <div class="form-group col-md-12">
                          <label for="samplesGiven">Samples Given</label>
                          <textarea class="form-control" name="visit[samplesGiven]" id="samplesGiven" rows="3"></textarea>
                      </div>



                      <div class="form-group col-md-12">
                          <label for="visitNotes">Visit Notes</label>
                          <textarea class="form-control" name="visit[visitNotes]" id="visitNotes" rows="5"></textarea>
                      </div>

                      <div class="form-group col-md-3">
                          <label for="nextVisitDate">Next Visit Scheduled</label>
                          <input type="date" name="visit[nextVisitDate]" id="nextVisitDate" class="form-control">
                      </div>

                  </div>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>


  </div>




  <% include ../partials/footer.ejs %>