  <% include ../partials/header.ejs %>

  <div class="container">
      <form action="/regions" method="POST">
          <div class="border form-divide-outer">
              <div class="form-header">
                  <h3 class="text-center">Add New Region/Market </h3>
              </div>



              <div class="border form-divide-inner">
                  <h5><strong>Region Details</strong> </h5>

                  <div class="form-row">

                      <div class="form-group col-md-12">
                          <label for="name">Name</label>
                          <input type="text" name="region[name]" id="name" class="form-control">
                      </div>
                  </div>
              </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>

      </form>


  </div>




  <% include ../partials/footer.ejs %>