  <% include ../partials/header.ejs %>


  <div class="container">
      <div class="row">
          <div class="col-sm-3 border pt-sm-2 ">
              <div class="" style="background-color:aqua;"> Admin</div>
              <ul class="list-group mt-sm-2">
                  <li class="list-group-item">Dashboard</li>
                  <li class="list-group-item">Markets</li>
                  <li class="list-group-item">Reports</li>
              </ul>
          </div>
          <div class="col-sm-9 border pt-sm-2">

              <div class="row">
                  <% regions.forEach(function(region){ %>

                  <div class="col-sm-5" style="min-height:120px; background-color:red; margin:10px;">
                      <h5><%= region.name %></h5>

                      <a class="btn btn-primary" href="/regions/<%= region._id %>">View Details</a>
                  </div>


                  <% }); %>
              </div>



          </div>
      </div>
  </div>
  </div>





  <% include ../partials/footer.ejs %>