  <% include ../partials/header.ejs %>

  <div class="container">



      <div class="row">

          <div class="col-sm-12 border pt-sm-2">
              <h4>Region :<%= region.name %></h4>

              <div class="row">

                  <div class="col-sm-2 border pt-sm-2">
                      <a class="btn btn-primary btn-small" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                  </div>

                  <div class="col-sm-3 border pt-sm-2 ">


                      <ul class="list-group mt-sm-2" id="myTab">
                          <% categories.forEach(function(category){ %>
                          <li class="list-group-item"><a href="/regions/<%= region._id %>/categories/<%= category._id %>"><%= category.name %></a></li>
                          <% }); %>

                      </ul>

                  </div>
                  <div class="col-sm-7">

                      <div id="myTabContent" class="tab-content">
                          <div class="tab-pane fade in active" id="Pharmacies">

                          </div>

                      </div>

                  </div>
              </div>
          </div>

      </div>






      <% include ../partials/footer.ejs %>